@use "../Colors";

// The entire blog post header.
.blog-post-header {
}

// The date of the blog post.
.blog-post-header-date {
  color: Colors.$secondaryText;
  padding-right: 1em;
}

.blog-post-header-badge {
  margin-left: 0.5em;
}