$primary: #ec4e20;
$secondary: #0d3b66;
$success: #51a3a3;
$danger: #550c18;
$warning: #82846d;
$info: #85c7f2;
$light: #faf0ca;
$dark: #2c070e;
$background: #ffffff;
$text: #000000;
$secondaryText: #00000020;
